.home-img {
    width: 25rem;
    height: 25rem;
}
.background {
    background-image: url(https://i.postimg.cc/63GGQtKr/Football-pitch-maintenance-Stirling-Albion.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}